.admin__category-card {
  min-height: 310px;
}

.admin-card {
  width: 100%;
  height: auto;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 25px 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.admin-card__category {
  text-align: center;
}
.admin-card__words {
  margin: 20px 0;
}
.admin-card__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin-card__button {
  font-weight: bold;
  color: $darkgreen;
  border-radius: 5px;
  border: 3px solid $darkgreen;
  background: transparent;
  min-height: 35px;
  width: 45%;
  &:hover {
    color: $white;
    background: $darkgreen;
  }
  &--cancel {
    border-color: $red;
    color: $red;
    &:hover {
      background: $red;
      color: $white;
    }
  }
}
.admin-card__delete {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 3rem;
  line-height: 0;
}

.admin-card__input {
  padding: 8px 10px;
}
//
//.edit-mode {
//
//}