.cls-1 {
  fill: #f8dc25;
}
.cls-2 {
  fill: #f2bc0f;
  opacity: 0.7;
}
.cls-10,
.cls-3,
.cls-9 {
  fill: none;
  stroke-linecap: round;
  stroke-width: 4px;
}
.cls-3,
.cls-9 {
  stroke: #f2bc0f;
  stroke-linejoin: round;
}
.cls-3 {
  opacity: 0.5;
}
.cls-4 {
  fill: #393c54;
}
.cls-5 {
  fill: #fff;
}
.cls-6,
.cls-8 {
  fill: #515570;
}
.cls-7 {
  fill: #ff8475;
}
.cls-8 {
  opacity: 0.3;
}
.cls-9 {
  opacity: 0.4;
}
.cls-10 {
  stroke: #393c54;
  stroke-miterlimit: 10;
}
